In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Downloads/archive/Domestic violence.csv")  # make sure this file is in your working directory
df.head()

   SL. No  Age Education  Employment   Income Marital status  Violence
0       1   30  secondary  unemployed       0         married       yes
1       2   47   tertiary  unemployed       0         married        no
2       3   24   tertiary  unemployed       0        unmarred        no
3       4   22   tertiary  unemployed       0        unmarred        no
4       5   50    primary  unemployed       0         married       yes

In [3]:
# Clean column names: strip spaces, lowercase, replace spaces with underscores
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [4]:
# Check unique values
print(df['marital_status'].unique())

['married' 'unmarred']

In [5]:
# Fix spelling and standardize
df['marital_status'] = df['marital_status'].str.strip().str.lower().replace({
    'unmarred': 'unmarried'
})

In [6]:
print(df['marital_status'].unique())

['married' 'unmarried']

In [7]:
df['violence'] = df['violence'].str.strip().str.lower()
df['education'] = df['education'].str.strip().str.lower()
df['employment'] = df['employment'].str.strip().str.lower()

In [8]:
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df['income'] = pd.to_numeric(df['income'], errors='coerce')

In [9]:
df.isnull().sum()

sl._no            0
age               0
education         0
employment        0
income            0
marital_status    0
violence          0
dtype: int64